# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
*.db

#Built VI Packages
*.vip
.DS_Store

# Don't ignore VIP files in build support folder (! is an exclusion)
!/build support/*.vip
.source
